<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyShop</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" 
     integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyShop.styles.css" asp-append-version="true" />
    <section id="Script">
        <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
    </section>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow " style="height:90px">
            <div class="container-fluid">
                <a class="navbar-brand font-weight-bold text-white-50" asp-area="" asp-controller="Home" asp-action="Index">MyShop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white font-weight-bold" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @{
                            if (HttpContextAccessor.HttpContext.Session.GetString("username")==null)
                           { 
                           <div class="collapse navbar-collapse justify-content-end pe-2" >
                                <li class="nav-item">
                                        <a class="nav-link text-white font-weight-bold" asp-area="" asp-controller="Home" asp-action="Register">Register</a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link text-white font-weight-bold" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                                </li>
                            </div>
                           }
                            else
                           {
                            <li class="nav-item">
                                    <a class="nav-link text-white font-weight-bold" asp-area="" asp-controller="Product" asp-action="AllProducts">Products</a>
                            </li>
                           <div class="collapse navbar-collapse justify-content-end pe-2" >
                                <li class="nav-item ">
                                <a class="nav-link text-white font-weight-bold" asp-area="">
                                    Welcome @System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase((HttpContextAccessor.HttpContext.Session.GetString("username")))
                                </a>
                                </li>
                                <li class="nav-item ">
                                        <a class="nav-link text-white font-weight-bold" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                                </li>
                           </div>
                           }
                        }
                       
                    </ul>                  
                </div>
            </div>
        </nav>
    </header>   
    <div class="container-fluid w-100" style="background:linear-gradient(90deg,hsla(201, 100%, 86%, 1) 7%, hsla(268, 68%, 88%, 1) 52%, hsla(205, 68%, 83%, 1) 83%)">
        
            @RenderBody()
       
    </div>

    <footer class="text-center text-white position-sticky " style="background-color:powderblue">
        <!-- Grid container -->
        <div class="container">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                   href="#!"
                   role="button"
                   data-mdb-ripple-color="dark">
                    <i class="fab fa-facebook-f"></i>
                </a>

                <!-- Twitter -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                   href="#!"
                   role="button"
                   data-mdb-ripple-color="dark">
                    <i class="fab fa-twitter"></i>
                </a>

                <!-- Google -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                   href="#!"
                   role="button"
                   data-mdb-ripple-color="dark">
                    <i class="fab fa-google"></i>
                </a>

                <!-- Instagram -->

                <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                   href="#!"
                   role="button"
                   data-mdb-ripple-color="dark">
                    <i class="fab fa-instagram"></i>
                </a>

                <!-- Linkedin -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                   href="#!"
                   role="button"
                   data-mdb-ripple-color="dark">
                    <i class="fab fa-linkedin"></i>
                </a>
                <!-- Github -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                   href="#!"
                   role="button"
                   data-mdb-ripple-color="dark">
                    <i class="fab fa-github"></i>
                </a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
